{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - Snippetbox</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:400,700">
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body>
  <header>
    <h1><a href='/'>Snippetbox</a></h1>
  </header>
  <nav>
    <div>
      <a href='/' hx-get='/' hx-target='#main-content' hx-swap='innerHTML'>Home</a>
      {{if .IsAuthenticated}}
      <a href='/snippet/create' hx-get='/snippet/create' hx-target='#main-content' hx-swap='innerHTML'>Create Snippet</a>
      {{end}}
    </div>
    <div>
      {{if .IsAuthenticated}}
      <form action='/user/logout' method='POST' hx-post='/user/logout' hx-target='#main-content' hx-swap='innerHTML'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <button>Logout</button>
      </form>
      {{else}}
      <a href='/user/signup' hx-get='/user/signup' hx-target='#main-content' hx-swap='innerHTML'>Signup</a>
      <a href='/user/login' hx-get='/user/login' hx-target='#main-content' hx-swap='innerHTML'>Login</a>
      {{end}}
    </div>  
  </nav>
<main id="main-content">
    {{with .Flash}}
    <div class='flash'>{{.}}</div>
    {{end}}
    {{template "main" .}}
  </main>
  {{ template "footer" .}}
  <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}
```